<h1>Editar tarefa</h1>

<div class="well">
    <form #formTarefa="ngForm" (submit)="atualizar()">
        <div class="form-group">
            <label for="nome">Tarefa:</label>
            <input  type="text" class="form-control" [(ngModel)]="tarefa.name" #name="ngModel" 
            id="name" name="name" required minlength="5" /> 
            <div class="alert alert-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                <div [hidden]="!name.errors?.required" >
                    Digite a tarefa.
                </div>
                <div [hidden]="!name.errors?.minlength">
                    A tarefa deve conter ao menos 5 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input  type="submit" class="btn btn-success" 
            value="Atualizar" [disabled]="!formTarefa.form.valid" />
            <a class="btn btn-default" [routerLink]="['/tarefas/listar-tarefas']">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
                Voltar
            </a>
        </div>
    </form>
</div>
